@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Merriweather&display=swap');

.inconsolata {
    font-family: 'Inconsolata';
}

.merriweather {
    font-family: 'Merriweather';
}

.text-align {
    text-align: center;
}